<div class="navbar bg-neutral" [class.hidden]="!config?.visible">
  <div class="flex-1">
    <label class="btn btn-ghost swap swap-rotate">

      <!-- this hidden checkbox controls the state -->
      <input type="checkbox" (click)="toggleSidenav()" [checked]="sidenavService.sidenavStatus() === 'open'" />

      <!-- hamburger icon -->
      <svg class="swap-off fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"/></svg>

      <!-- close icon -->
      <svg class="swap-on fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><polygon points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49"/></svg>

    </label>
    <a class="btn btn-ghost" routerLink="/">
      <img
        *ngIf="config?.configs?.showLogo"
        class="h-full"
        [src]="themeService.theme().logo"
        alt="logo"
      />
    </a>
  </div>
  <a class="lg:hidden" (click)="showMobileMenu = !showMobileMenu">
    <div class="indicator">
       <span *ngIf="unreadNotifications() > 0"
             class="indicator-item badge badge-secondary z-0 h-3.5 px-1.5"></span>
      <svg
        class="w-6 h-6 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </div>
  </a>
  <div class="flex-none gap-2 max-lg:hidden">
    <eurekax-navigation
      [navigations]="config?.navigations ?? []"
      class="mr-4"
    ></eurekax-navigation>

    <eurekax-theme-selector
      *ngIf="config?.configs?.showThemeSelector"
    ></eurekax-theme-selector>
    <eurekax-language-selector
      *ngIf="config?.configs?.showLanguageSelector"
    ></eurekax-language-selector>
    <eurekax-notification-button></eurekax-notification-button>
    <eurekax-user-logged-dropdown></eurekax-user-logged-dropdown>
  </div>
</div>
<div
  class="flex flex-col gap-3 bg-neutral px-4 py-2 lg:hidden"
  *ngIf="showMobileMenu"
>
  <eurekax-navigation
    [navigations]="config?.navigations ?? []"
    [mode]="'vertical'"
  ></eurekax-navigation>
  <div
    class="flex items-center justify-between pt-3 mt-3 border-t border-primary"
  >
    <eurekax-theme-selector
      *ngIf="config?.configs?.showThemeSelector"
    ></eurekax-theme-selector>
    <div class="flex items-center">
      <eurekax-language-selector
        [position]="'start'"
        *ngIf="config?.configs?.showLanguageSelector"
      ></eurekax-language-selector>
      <eurekax-user-logged-dropdown></eurekax-user-logged-dropdown>
    </div>
    <eurekax-notification-button></eurekax-notification-button>
  </div>
</div>
