<div class="container border-l-4 p-4 bg-base-200 rounded-sm"
     [ngClass]="{
     '/[0.6]': notification.read,
      ' hover:bg-base-200/50': !notification.read,
     'border-success': notification.type === notificationType.success,
     'border-warning': notification.type === notificationType.warning,
     'border-error': notification.type === notificationType.danger,
     'border-info': notification.type === notificationType.info,
     }"
     (click)="readNotification()">
  <div class="text-start">
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-2">
        <div class="bg-info rounded-full w-2.5 h-2.5" *ngIf="!notification.read"></div>
        <div class="font-bold lg:text-lg">
          {{notification.title}}
        </div>
      </div>

      <div class="tooltip tooltip-bottom tooltip-accent" data-tip="Remove">
        <button
          (click)="deleteNotification()"
          class="btn btn-sm btn-ghost rounded-full close-button"
        >
          <fa-icon icon="xmark" size="lg"></fa-icon>
        </button>
      </div>
    </div>
    <div class="flex justify-between items-start">
      <div class="mt-0.5 flex-auto">
        <div>
          {{notification.message}}
        </div>
        <div class="text-xs mt-1">{{notification.createdAt | date: 'medium'}}</div>
      </div>
    </div>
  </div>
  <div class="flex justify-end mt-2" *ngIf="!!notification.routerLink">
    <div class="tooltip tooltip-left tooltip-accent" data-tip="Open">
      <button
        class="btn btn-sm btn-ghost"
        (click)="navigate()"
      >
        <fa-icon icon="up-right-from-square" size="xl"></fa-icon>

      </button>
    </div>
  </div>
</div>
