<div class="dropdown">
  <label
  tabindex="0"
    class="btn bg-base-100 capitalize"
    [attr.data-theme]="themeService.theme().name"
  >
    <div class="flex items-center gap-1 mr-2.5">
      <div class="h-4 w-2 bg-primary"></div>
      <div class="h-4 w-2 bg-secondary"></div>
      <div class="h-4 w-2 bg-accent"></div>
    </div>
    {{ themeService.theme().name }}
    <fa-icon icon="chevron-down" size="sm"></fa-icon>
  </label>
  <ul
    tabindex="0"
    class="shadow menu dropdown-content bg-base-100 rounded-box w-52 z-20 mt-2"
  >
    <li
      *ngFor="
        let theme of themeService.themes();
        let first = first;
        let last = last
      "
      [attr.data-theme]="theme.name"
      class="bg-base-100"
    >
      <a
        (click)="changeTheme(theme)"
        class="inline-flex w-full px-4 py-2 rounded-none"
      >
        <div class="inline-flex items-center w-full">
          <div class="mr-2">
            <div *ngIf="themeService.theme().name === theme.name">
              <fa-icon icon="check" size="sm"></fa-icon>
            </div>
          </div>
          <div class="flex-auto text-start capitalize">
            {{ theme.name }}
          </div>

          <div class="flex items-center gap-1">
            <div class="h-4 w-2 bg-primary"></div>
            <div class="h-4 w-2 bg-secondary"></div>
            <div class="h-4 w-2 bg-accent"></div>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
