<div
  class="max-sm:h-full card bg-neutral text-neutral-content">
  <div class="card-body">
    <h1 class="text-xl font-bold leading-tight tracking-tight md:text-2x">
      Welcome back
    </h1>
    <button (click)="googleLogin()" class="text-white bg-[#4285F4] hover:bg-[#4285F4]/90 focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 font-medium rounded  px-5 py-2.5 inline-flex items-center justify-center dark:focus:ring-[#4285F4]/55  w-full">
      <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 19">
        <path fill-rule="evenodd" d="M8.842 18.083a8.8 8.8 0 0 1-8.65-8.948 8.841 8.841 0 0 1 8.8-8.652h.153a8.464 8.464 0 0 1 5.7 2.257l-2.193 2.038A5.27 5.27 0 0 0 9.09 3.4a5.882 5.882 0 0 0-.2 11.76h.124a5.091 5.091 0 0 0 5.248-4.057L14.3 11H9V8h8.34c.066.543.095 1.09.088 1.636-.086 5.053-3.463 8.449-8.4 8.449l-.186-.002Z" clip-rule="evenodd"/>
      </svg>
      Sign in with Google
    </button>
    <form class="space-y-4 md:space-y-6" (submit)="login()">
      <div>
        <label for="email" class="label">Your email</label>
        <input type="email" [(ngModel)]="email" name="email" id="email"
        class="input input-bordered input-primary w-full"
                  placeholder="name@domain.com" required>
      </div>
      <div>
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
        <input type="password" [(ngModel)]="password" name="password" id="password" placeholder="••••••••"
        class="input input-bordered input-primary w-full"          required="">
      </div>
      <div class="flex items-center justify-between">

        <a routerLink="/auth/forgot-password"
          class="text-sm font-medium hover:underline">Forgot
          password?</a>
      </div>
      <button type="submit"
        class="btn btn-primary w-full"
        [disabled]="!email || !password">
        Sign in</button>
      <p class="text-sm font-light">
        Don't have an account yet? <a routerLink="/auth/sign-up"
          class="font-medium  hover:underline">Sign up</a>
      </p>
    </form>
  </div>
</div>
