<div class="flex items-start h-screen">
  <eurekax-sidenav [config]="layout()?.sidenav ?? null"></eurekax-sidenav>
  <div class="flex flex-col justify-between h-full w-full">
    <eurekax-navbar [config]="layout()?.navbar ?? null" [showMenuButton]="layout()?.sidenav?.visible ?? false"></eurekax-navbar>
      <div class="flex flex-col flex-auto overflow-y-auto">
        <div class="p-4 lg:overflow-y-auto flex-auto">
          <router-outlet></router-outlet>
        </div>
        <eurekax-footer [config]="layout()?.footer ?? null"></eurekax-footer>
      </div>
  </div>
</div>
