<eurekax-tab-page
  [tabs]="['User Types', 'Roles', 'Actions']"
  [activeTab]="'Actions'"
  [bordered]="true"
  (tabChange)="changeTab($event)"
>
  <div class="mb-4">
    <eurekax-base-card *ngIf="formVisible">
      <ng-container [ngSwitch]="selectedTab">
        <ng-container *ngSwitchCase="'Actions'">
          <eurekax-action-form
            (cancel)="formVisible = false"
            (actionSubmit)="saveAction($event)"
          ></eurekax-action-form>
        </ng-container>

        <ng-container *ngSwitchCase="'User Types'">
          <eurekax-user-type-form  (cancel)="formVisible = false"></eurekax-user-type-form>
        </ng-container>

        <ng-container *ngSwitchCase="'Roles'">
          <eurekax-role-form  (cancel)="formVisible = false"></eurekax-role-form>
        </ng-container>
      </ng-container>
    </eurekax-base-card>
    <button
      *ngIf="!formVisible"
      (click)="formVisible = !formVisible"
      class="btn btn-outline btn-success btn-sm float-right"
    >
      <fa-icon [icon]="'plus'"></fa-icon> New
    </button>
    <div class="clear-right"></div>
  </div>
  <eurekax-table
    [columns]="cols"
    [rows]="rows"
    [theme]="'dark'"
  ></eurekax-table>
</eurekax-tab-page>
