<div>

  <div>Profilo Utente</div>

  <div>
    <img [src]="user?.photoURL" alt="user avatar" />
  </div>
  <div>
    <label>Username</label>
    <div>{{user.displayName}}</div>
  </div>
  <div>
    <label>Email</label>
    <div>{{user.email}}</div>
  </div>
  <div>
    <label>Data creazione</label>
    <div>{{user.metadata.createdAt | date}}</div>
  </div>
  <div>
    <label>Data ultimo accesso</label>
    <div>{{user.metadata.lastSignInTime | date}}</div>
  </div>
  <button (click)="verifyEmail()" *ngIf="!user.emailVerified">Verification Email
  </button>
  <button (click)="logout()">Disconnetti Account</button>
  <button color="warning" routerLink="/home">Public Zone</button>
</div>