<eurekax-hero></eurekax-hero>


<!-- <ng-container
*ngFor="
  let theme of themeService.themes();
  let first = first;
  let last = last
"
>
  <div [attr.data-theme]="theme.name" class="bg-neutral">
    <a
      type="button"
      class="inline-flex w-full px-4 py-2 text-sm"
    >
      <div class="inline-flex items-center w-full">
        <div class="mr-2 w-3 h-3">
          <div *ngIf="themeService.theme().name === theme.name">
            <svg
              class="w-3 h-3 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"
              />
            </svg>
          </div>
        </div>
        <div class="flex-auto text-start">
          {{ theme.name }}
        </div>

        <div class="flex items-center gap-1">
          <div class="h-4 w-2 bg-primary"></div>
          <div class="h-4 w-2 bg-secondary"></div>
          <div class="h-4 w-2 bg-accent"></div>
        </div>
      </div>
    </a>
  </div>

</ng-container> --><ul class="menu bg-base-200 w-56 rounded-box">
  <li><a>Item 1</a></li>
  <li>
    <span class="menu-dropdown-toggle">Parent</span>
    <ul class="menu-dropdown">
      <li><a>level 2 item 1</a></li>
      <li><a>level 2 item 2</a></li>
    </ul>
  </li>
</ul>
<ul class="menu bg-base-200 w-56 rounded-box">
  <li><a>Item 1</a></li>
  <li>
    <span class="menu-dropdown-toggle menu-dropdown-show">Parent</span>
    <ul class="menu-dropdown menu-dropdown-show">
      <li><a>level 2 item 1</a></li>
      <li><a>level 2 item 2</a></li>
    </ul>
  </li>
</ul>