<ng-container [ngSwitch]="navigation?.type">
  <ng-container *ngSwitchCase="'selector'">
    <div class="dropdown">
      <a
        tabindex="0"
        [ngClass]="navigation?.cssClass"
        class="btn btn-link no-underline hover:no-underline hover:text-secondary"
      >
        {{ navigation?.label }}
      </a>
      <!-- Dropdown -->
      <ul
        tabindex="0"
        class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-52"
      >
        <li *ngFor="let subNav of navigation?.childs">
          <label
            [routerLink]="subNav.routerLink"
            [ngClass]="subNav.cssClass"
            class="block py-2 px-4 text-sm hover:bg-primary"
          >
            <div class="inline-flex items-center">
              {{ subNav.label }}
            </div>
          </label>
        </li>
      </ul>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'default'">
    <a
      [routerLink]="navigation?.routerLink"
      [ngClass]="navigation?.cssClass"
      class="btn btn-link no-underline hover:no-underline hover:text-secondary"
    >
      {{ navigation?.label }}
    </a>
  </ng-container>
</ng-container>
