<ul class="menu" [ngClass]="{ 'menu-horizontal': mode === 'horizontal' }">
  <li *ngFor="let navigation of navigations">
    <ng-container [ngSwitch]="navigation?.type">
      <ng-container *ngSwitchCase="'selector'">
        <details >
          <summary [ngClass]="navigation?.cssClass">{{ navigation?.label }}</summary>
          <ul>
          <li
            *ngFor="let subNav of navigation?.childs"
            [routerLink]="subNav.routerLink"
          >
            <a class="min-w-[100px]">{{ subNav.label }}</a>
          </li>
        </ul>
        </details>
      </ng-container>
      <ng-container *ngSwitchCase="'default'">
        <a
          [routerLink]="navigation?.routerLink"
          [ngClass]="navigation?.cssClass"
        >
          {{ navigation?.label }}
        </a>
      </ng-container>
    </ng-container>
  </li>
</ul>
