<form [formGroup]="form" class="space-y-4">
  <div class="form-control w-full">
    <label class="label">
      <span class="label-text">Image</span>
    </label>
    <input type="text" formControlName="code" placeholder="Type the action code here" class="input input-bordered w-full" />
  </div>

  <div class="form-control w-full">
    <label class="label">
      <span class="label-text">Name*</span>
    </label>
    <input type="text" formControlName="name" placeholder="Type the action name here" class="input input-bordered w-full" />
  </div>

  <div class="form-control">
    <label class="label">
      <span class="label-text">Description</span>
    </label>
    <textarea class="textarea textarea-bordered h-24" formControlName="description" placeholder="Type the action description here"></textarea>
  </div>
</form>

<div class="flex w-full justify-center pt-4">
  <button class="btn btn-primary" [disabled]="form.invalid" (click)="submitAction()">Submit</button>
  <button class="btn btn-ghost"  (click)="cancelClick()">Cancel</button>
</div>

