<div
  (mouseover)="pauseDismiss()"
  (mouseleave)="restartDismiss()"
  [ngClass]="getNotificationClass()"
  class="alert shadow-lg relative overflow-x-hidden"
>
  <div class="flex flex-col gap-5 lg:w-[400px]">
    <div class="flex gap-3 justify-between">
      <div>
        <div *ngIf="!!notification.icon"></div>
        <div class="text-start">
          <div class="text-xs">
            {{ notification.createdAt | date : "medium" }}
          </div>
          <div class="font-bold mt-1 text-lg">{{ notification.title }}</div>
          <div class="mt-0.5">{{ notification.message }}</div>
        </div>
      </div>
      <button
        *ngIf="showCloseButton"
        class="btn btn-sm btn-ghost hover:rotate-90 p-0 rounded-full"
        (click)="closeClicked.emit()"
      >
        <svg
          class="w-6 h-6"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m13 7-6 6m0-6 6 6m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
      </button>
    </div>
    <button
      *ngIf="!!notification.routerLink"
      class="btn btn-sm btn-outline w-full mb-2"
      [routerLink]="notification.routerLink"
    >
      Open
    </button>
  </div>
  <progress
    *ngIf="duration > 0"
    class="progress w-full absolute bottom-0"
    [value]="currentProgress"
    [max]="duration"
  ></progress>
</div>
