<div
  (mouseover)="pauseDismiss()"
  (mouseleave)="restartDismiss()"
  [ngClass]="getNotificationClass()"
  class="alert shadow-lg relative overflow-x-hidden"
>
  <div class="flex flex-col gap-1 lg:w-[400px]">
    <div class="flex gap-3 justify-between">
      <div>
        <div *ngIf="!!notification.icon"></div>
        <div class="text-start">
          <div class="text-xs">
            {{ notification.createdAt | date : "medium" }}
          </div>
          <div class="font-bold mt-1 text-lg">{{ notification.title }}</div>
          <div class="mt-0.5">{{ notification.message }}</div>
        </div>
      </div>
      <button
        *ngIf="showCloseButton"
        class="btn btn-sm btn-ghost hover:rotate-90 p-0 rounded-full"
        (click)="closeClicked.emit()"
      >
        <svg
          class="w-6 h-6"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m13 7-6 6m0-6 6 6m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
      </button>
    </div>
    <div class="flex justify-end" *ngIf="!!notification.routerLink">
      <div class="tooltip tooltip-left tooltip-accent" data-tip="Open">
        <button
          class="btn btn-sm btn-ghost p-0"
          (click)="navigate()"
        >
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
            <path d="M17 0h-5.768a1 1 0 1 0 0 2h3.354L8.4 8.182A1.003 1.003 0 1 0 9.818 9.6L16 3.414v3.354a1 1 0 0 0 2 0V1a1 1 0 0 0-1-1Z"/>
            <path d="m14.258 7.985-3.025 3.025A3 3 0 1 1 6.99 6.768l3.026-3.026A3.01 3.01 0 0 1 8.411 2H2.167A2.169 2.169 0 0 0 0 4.167v11.666A2.169 2.169 0 0 0 2.167 18h11.666A2.169 2.169 0 0 0 16 15.833V9.589a3.011 3.011 0 0 1-1.742-1.604Z"/>
          </svg>

        </button>
      </div>
    </div>
  </div>
  <progress
    *ngIf="duration > 0"
    class="progress w-full absolute bottom-0"
    [value]="currentProgress"
    [max]="duration"
  ></progress>
</div>
