/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "assets/uiki/button.scss";
@import "assets/uiki/input.scss";
@import "assets/uiki/card.scss";
@import "assets/uiki/badge.scss";

:root {
  --transition-theme-duration: .2s;

  @property --primary-color {
    syntax: '<color>';
    initial-value: 'pink';
    inherits: false;
  }

  @property --secondary-color {
    syntax: '<color>';
    initial-value: 'purple';
    inherits: false;
  }

  @property --tertiary-color {
    syntax: '<color>';
    initial-value: 'orange';
    inherits: false;
  }

  @property --base-color {
    syntax: '<color>';
    initial-value: 'white';
    inherits: false;
  }

  @property --layout-color {
    syntax: '<color>';
    initial-value: 'white';
    inherits: false;
  }

  @property --card-color {
    syntax: '<color>';
    initial-value: 'white';
    inherits: false;
  }
  @property --success-color {
    syntax: '<color>';
    initial-value: 'green';
    inherits: false;
  }

  @property --warning-color {
    syntax: '<color>';
    initial-value: 'yellow';
    inherits: false;
  }

  @property --error-color {
    syntax: '<color>';
    initial-value: 'red';
    inherits: false;
  }

  body.transition-theme {
    &, * {
        //transition: background-color var(--transition-theme-duration) ease-in-out, color var(--transition-theme-duration) ease-in-out;
      @apply transition-colors;
      transition-duration: var(--transition-theme-duration);
    }
  }

  
}




