<div class="flex flex-col items-center justify-center h-screen">
  <a href="#" class="flex items-center mb-6 text-2xl font-semibold">
    <img class="w-full" src="assets/brand/logo.png" alt="logo">
  </a>
  <div class="max-sm:h-full card card-primary">
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8 w-full">
      <h1 class="text-xl font-bold leading-tight tracking-tight md:text-2xl">
        Forgot Password
      </h1>
      <p class="">
        Please enter your email address to request a password reset.
      </p>

      <form class="space-y-4 md:space-y-6" (submit)="forgotPassword()">
        <div>
          <label for="email" class="label">Your email</label>
          <input type="email" [(ngModel)]="passwordResetEmail" name="email" id="email"
            class="input input-primary"
            placeholder="name@domain.com" required>
        </div>
        <!-- Calling ForgotPassword from AuthService Api -->
        <button type="submit" [disabled]="!passwordResetEmail" class="btn btn-primary w-full"> Send</button>
      </form>
      <p class="text-sm font-light">
        Go back to <a routerLink="/auth/sign-in" class="font-medium  hover:underline">Sign in</a>
      </p>
    </div>
  </div>
</div>